# Data Science And Tools

## *In this notebook, Data Science Tools and Ecosystem are summarised by Kevin Jacob.*

***Some of the popular languages of Data Science are:***
1. Python
2. R
3. SQL
4. Julia
5. Scala

***Some of the commonly used libraries used by Data Scientists include:***
1. Matplotlib
2. Pandas
3. Seaborn
4. Numpy
5. Scikit-learn

|Data Science Tools|
|------------------|
|Apache Hadoop|
|Apache Spark|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**Objectives:**

*Popular languages used in Data Science*
 - Python
 - R
 - SQL

   
*Popular libraries used in Data Science*
 - Pandas
 - Numpy
 - Matplotlib

   
 *Popular tools used in Data Science*
 - Apache Hadoop

## Author:
*Kevin Jacob*

  Author